<!-- sticky-footer -->
    <footer id="footer">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-2 hidden-xs hidden-sm">
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <p>
                                &copy; 7 Families 2015
                            </p>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a class="social-links" href="https://www.facebook.com/7Families" rel="external" target="_blank" title="Click here to link to the 7 Families Facebook page. This is an external link."><i class="fa fa-facebook-official"></i>
                            </a>
                            <a class="social-links" href="https://twitter.com/7families" rel="external" target="_blank" title="Click here to link to the 7 Families Twitter page. This is an external link."><i class="fa fa-twitter"></i>
                            </a>
                            <a class="social-links" href="https://www.youtube.com/channel/UCnvY82GcUg-_ZUFTf6YBxXA" rel="external" target="_blank" title="Click here to link to the 7 Families Youtube Channel. This is an external link."><i class="fa fa-youtube"></i>
                            </a>
                            <a class="social-links" href="https://www.justgiving.com/7F/" rel="external" target="_blank" title="Click here to link to the 7 Families JustGiving page to donate. This is an external link."><img src="assets/images/logo_just-giving.png" alt="Just Giving">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 hidden-xs hidden-sm">
                </div>
            </div>
        </div>
    </footer>
    <!-- /.sticky-footer -->
    <!-- first-modal -->
    <div id="video-modal-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8lxpvI3lk8w" title="View Paul Pickford, the third family member's story."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.first-modal -->
    <!-- second-modal -->
    <div id="video-modal-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7hSumtPCSms" title="Paul's journey continues. View this video."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.second-modal -->
    <!-- third-modal -->
    <div id="video-modal-3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RmIJ8ebd7ro" title="Here we meet Paul's rehab assistant, who helps Paul with everyday activities. View this video."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.third-modal -->
    <!-- fourth-modal -->
    <div id="video-modal-4" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cZQ2WlWCuHs" title="As Paul’s rehabilitation progresses, a new piece of equipment allows him to communicate and maintain contact with the world. View this video."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.fourth-modal -->
    <!-- fifth-modal -->
    <div id="video-modal-5" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o2iBdqa45Dk" title="Paul has been using a specialist piece of equipment called a Gloreha Glove that allows him to work on improving the mobility of his left hand."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.fifth-modal -->
    <!-- sixth-modal -->
    <div id="video-modal-6" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nugZEfsuPLE?list=PL7xv9pYLU1Ps37x16DiQ2y8r6GWnbN_GM" title="Paul and Vicky open up to camera in this emotive film about their life situation. Their courage and determination really come across and it’s also plain to see that Paul’s speech is improving."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.sixth-modal -->
    <!-- seventh-modal -->
    <div id="video-modal-7" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wc6l_61lt-Y?list=PL7xv9pYLU1Ps37x16DiQ2y8r6GWnbN_GM" title="The determination that Paul shows to rediscover his speech is inspiring, as he works on it everyday, something that the consistent support of 7Families allows him to do."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.seventh-modal -->
    <!-- eighth-modal -->
    <div id="video-modal-8" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RwVZVeRemkA" title="Quaha is a headset that helps Paul use a computer, who's been using his time wisely to think about potential business ventures. Look out for his special message."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.eighth-modal -->
    <!-- ninth-modal -->
    <div id="video-modal-9" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/obBQi88vJYQ?list=PL7xv9pYLU1Ps37x16DiQ2y8r6GWnbN_GM" title="Paul's excited at the arrival of a new piece of equipment, a standing frame designed to help him maintain his physiotherapy at home."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.ninth-modal -->
    <!-- tenth-modal -->
    <div id="video-modal-10" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dUBhtVXPkoc" title="Meet Paula, a case manager, who helps the Pickfords with anything and everything needed for Paul's rehabilitation. She was even responsible for helping Paul get his standing frame, so she's probably won herself a lifelong fan there."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.tenth-modal -->
    <!-- eleventh-modal -->
    <div id="video-modal-11" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mKrCPp5vEWU" title="Paul and Vicky's family and friends talk with admiration about the couple's inspiring strength and unquestioning love for each other."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.eleventh-modal -->
    <!-- twelfth-modal -->
    <div id="video-modal-12" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dqlhLg-Zntk" title="Paul and Vicky's bond is as strong as ever. To celebrate ten years of marriage they renew their wedding vows in front of a small gathering of close family and friends – including two of the fantastic nurses who helped the couple following Paul's stroke."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.twelfth-modal -->
    <!-- thirteenth-modal -->
    <div id="video-modal-13" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- modal-dialog -->
        <div class="modal-dialog modal-sm">
            <!-- modal-content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i>
                        </span>
                    </button>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PUXwzJB5Pvo" title="It's been three years since Paul's stroke. In their farewell film Paul and Vicky reflect on the difficulties they've faced and the challenges they've overcome with the incredible help from the Community Stroke Team and the support of the 7 Families project. We leave them positive about the future and proud of everything Paul has achieved so far."></iframe>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.thirteenth-modal -->
    <!-- Google-Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61192806-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- /.Google-Analytics -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>