<div class="container-fluid">
        <div class="row">
            <!-- left-col -->
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <!-- /.left-col -->
            <!-- middle-col -->
            <div class="col-xs-12 col-md-8">
<!-- game-advertisement-row -->
                <div class="row borders">
                    <div class="col-md-12 text-center">
                        <h1 class="blue-text blue-large">
                            How Finvincible are you?
                        </h1>
                        <p>
                            Ever wondered what might be the outcome if something 
                            <br /> happened which prevented you from working? 
                        </p>
                        <p>
                            Take the 7 Families quiz on Facebook now.
                        <h1>
                            <a class="orange-text with-line" href="https://apps.facebook.com/sevenfamilies/" target="_blank" rel="external" title="Click here to link to Facebook and Play The 7 Families Game.">Play Now</a>
                        </h1>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <!-- /.game-advertisement-row -->
            </div>
    </div>
</div>