<div class="container-fluid">
        <div class="row">
            <!-- left-col -->
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <!-- /.left-col -->
            <!-- middle-col -->
            <div class="col-xs-12 col-md-8">
<!-- game-advertisement-row -->
                <div class="row borders">
                    <div class="col-md-12 text-center">
                        <h1 class="blue-text blue-large">
                            {{ site.game.title }}
                        </h1>
                        <p style="max-width: 500px; margin: 0 auto;">
                            {{ site.game.body }}
                        </p>
                        <h1>
                            <a class="orange-text with-line" href="{{ site.game.link }}" target="_blank" rel="external" title="Click here to link to Facebook and Play The 7 Families Game.">{{ site.game.linktext }}</a>
                        </h1>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <!-- /.game-advertisement-row -->
            </div>
    </div>
</div>