<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>7 Families</title>
    <link href="/assets/css/screen.css" rel="stylesheet">
</head>

<body>
    <!-- wrapper -->
    <div class="container-fluid">
        <div class="row">
            <!-- left-col -->
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <!-- /.left-col -->
            <!-- middle-col -->
            <div class="col-xs-12 col-md-8">
               {% if page.home == true %}
               <div class="row borders header">
                    <div class="col-md-12">
                        <a href="index.html"><img class="img-responsive center-block" src="/assets/images/logo-seven-families.jpg" alt="7 Families Logo." title="Click here to return to the Home page." />
                        </a>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse text-center">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="/families" title="Click here to go to Meet The Families page.">Meet The Families</a>
                                        </li>
                                        <li>
                                            <a href="/about" title="Click here to go to the About 7 Families page.">About</a>
                                        </li>
                                        <li>
                                            <a href="/what-can-i-do" title="Click here to find out what you can do">What Can I Do?</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                {% else %}
                <!-- logo-and-nav-row -->
                <div class="row borders header short-header">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.html" title="Click here to return to the Home page."><img class="center-block" src="/assets/images/thumb_seven-families-logo.png" alt="7 Families logo">
                                    </a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse text-center">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a class="orange-text" href="/families" title="Click here to go to Meet The Families page.">Meet The Families</a>
                                        </li>
                                        <li>
                                            <a href="/about" title="Click here to go to the About 7 Families page.">About</a>
                                        </li>
                                        <li>
                                            <a href="/what-can-i-do" title="Click here to find out what you can do">What Can I Do?</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>