.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.carousel-indicators {
  position: relative;
  height: 25px;
}
.carousel-control {
  margin-bottom: 25px;
}
.v-center {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@media (min-width: 992px) {

    .text-cols-2 {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
        -moz-column-gap: 30px; /* Firefox */
        column-gap: 30px;
    }
    
}

.odd:nth-of-type(1n) {
    background-color: #f39221;
}

.odd:nth-of-type(1n) h3 {
    color: #e52f1b
}

.odd:nth-of-type(3n) {
    background-color: #4ebdd9;
}

.odd:nth-of-type(3n) h3 {
    color: #124483;
}

.even:nth-of-type(1n) {
    background-color: #eb371e;
}

.even:nth-of-type(1n) h3 {
    color: #f0dd1e;
}

.even:nth-of-type(3n) {
    background-color: #124483;
}

.even:nth-of-type(3n) h3 {
    color: #f0dd1e;
}

a {
    color: inherit;
}