    <!-- wrapper -->
    <div class="container-fluid">
        <div class="row">
            <!-- left-col -->
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <!-- /.left-col -->
            <!-- middle-col -->
            <div class="col-xs-12 col-md-8">
<div class="row borders">
                    <div class="col-md-12">
                        <!-- top-text-row -->
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>
                                    Meet The Families
                                </h1>
                                <h2 class="orange-text">
                                    Meet the Pickford Family
                                </h2>
                            </div>
                        </div>
                        <!-- /.top=text-row -->
                        <!-- video-row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="embed-responsive embed-responsive-16by9 borders video-border">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8lxpvI3lk8w?" title="View Paul Pickford's story."></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- /.video-row -->
                        <!-- latest-family-row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- left-side -->
                                    <div class="col-md-6">
                                        {{ content }}
                                        <a href="pickford-timeline.html" class="orange-text" title="Click here to view The Pickford Family Timeline.">
                                            <h3>
                                                View The {{ family.name }} Family Timeline
                                            </h3>
                                        </a>
                                    </div>
                                    <!-- /.right-side -->
                                </div>
                            </div>
                        </div>
                        <!-- /.latest-family-row -->
                    </div>
                </div>
                <!-- /.large-video-row -->
                </div>
                </div>
                </div>