{% include head.html %}
   <!-- wrapper -->
    <div class="container-fluid">
        <div class="row">
            <!-- left-col -->
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <!-- /.left-col -->
            <!-- middle-col -->
            <div class="col-xs-12 col-md-8">
<!-- large-video-row -->
                <div class="row borders">
                    <div class="col-xs-12">
                        <!-- top-text-row -->
                        <div class="row">
                            <div class="col-md-12 primary-content">
                                <h1 class="text-center">
                                    Timeline
                                </h1>
                                <h3 class="text-center orange-text">
                                    The {{ page.title }} Family
                                </h3>
                                {% for event in page.event %}
                                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                                {% if thecycle == 'odd' %}
                                <div class="row timeline {{ thecycle }}">
                                    <div class="col-xs-6">
                                        <h3 class="text-center">{{ event.date | date: '%d %B %Y' }}</h3>
                                        <p>{{ event.text | markdownify }}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        {% if event.image %}
                                        <img class="center-block img-responsive" src="{{ event.image }}" alt="Filming behind the scenes with Paul Pickford">
                                        {% else if event.video %}
                                        <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                            <iframe class="embed-responsive-item" src="{{ event.video }}" title="View the {{ page.name }} family story"></iframe>
                                        </div>
                                        <p class="hidden-sm hidden-md hidden-lg">
                                            <a class="video-link" data-toggle="modal" data-target="#video-modal-1">Watch Video</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="row timeline {{ thecycle }}">
                                   <div class="col-xs-6">
                                        {% if event.image %}
                                        <img class="center-block img-responsive" src="{{ event.image }}" alt="Filming behind the scenes with Paul Pickford">
                                        {% else if event.video %}
                                        <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                                            <iframe class="embed-responsive-item" src="{{ event.video }}" title="View the {{ page.name }} family story"></iframe>
                                        </div>
                                        <p class="hidden-sm hidden-md hidden-lg">
                                            <a class="video-link" data-toggle="modal" data-target="#video-modal-1">Watch Video</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-6">
                                        <h3 class="text-center">{{ event.date | date: '%d %B %Y' }}</h3>
                                        <p>{{ event.text | markdownify }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- /.top=text-row -->
                        </div>
                    </div>
                </div>
                <!-- /.large-video-row -->
                </div>
                </div>
                </div>
                {% include families.html %}
                {% include game.html %}
                {% include foot.html %}